.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media all and (min-width: 480px) {
  .Container {
    padding: 60px 0;
  }

  .Container form {
    margin: 0 auto;
    max-width: 320px;
  }

  .Container h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
  }

  .Container div {
    margin: 0 auto;
    max-width: 320px;
  }
}


hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.cell-wrap-text {
  white-space: normal !important;
}
.ag-row .ag-cell {
display: flex;
justify-content: left; /* align horizontal */
align-items: center;
}

.text-left {
text-align: left;
}

.text-center {
  text-align: center;
}
.text-right {
text-align: right;
}

